<div class="row">
  <div class="col-md-6">
    <h1>Clients</h1>
  </div>
  <div class="col-md-6">
    <h4 class="float-right text-muted">{{(isAuthen ? totalBalance : 0) | currency:"USD":"symbol"}}</h4>
  </div>
</div>

<div *ngIf="clients[0] && isAuthen;else noClient" style="overflow-x:auto;">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>First Name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Balance</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.firstName}}</td>
        <td>{{client.lastName}}</td>
        <td>{{client.email}}</td>
        <td>{{client.phone}}</td>
        <td>{{client.balance | currency:"USD":"symbol"}}</td>
        <td><button [routerLink]="['/client/'+client.id]" class="btn btn-success text-white btn-sm"><i class="fa fa-info-circle"></i>
            Details</button></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noClient>
  There are no clients in the system !
</ng-template>