
button:hover{
background: #F8F9FA;
border-color: #F8F9FA;
color: black !important;
}
button{
    background-color: #F8F9FA;
    background: #F8F9FA;
    border-color: #F8F9FA;
}
.btn:focus {background: #F8F9FA;outline: none;box-shadow: none;border:none !important;}